<h1> <%= @task.title %> </h1>
<p> <%= link_to "Edit Task", edit_path(@task) %></p>
  <div class="details">
    <p><%= @task.details %></p>
  </div>
  <% if @task.completed == true %>
      <input type="checkbox" checked="checked">
      This task is completed
  <% else %>
      <input type="checkbox">
      This task is not completed yet
    <% end %>
  <div>
    <p> <%= link_to "Back to list", index_path %></p>

  </div>
